PORT=5001
NODE_ENV=development
DATABASE_URL="file:./dev.db"
JWT_SECRET="sih26038-diabetic-retinopathy-screening-secret-key-2026"
AI_SERVICE_URL="http://127.0.0.1:8000"
UPLOAD_DIR="./uploads"
MAX_FILE_SIZE=10485760
